<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Base Meta --}}
    <title>Yolistli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {{!-- Styles'n'Scripts --}}
    <link rel="shortcut icon" href="{{ asset "favicon.png" }}">

    {{!-- Manifest --}}
    <link rel="manifest" href="manifest.json">
</head>
<body>
{{{body}}}
</body>
</html>
