<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yolistli - Piramide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <a-scene>
        <a-assets teleport-refresh vr-mode-ui="enabled: true">
            <img id="pyramid-img" crossOrigin="anonymous" src="/assets/piramide.jpg">

            <a-mixin id="hand"
                     teleport-controls="type: line; collisionEntities: [ground], [mixin~=portal], [portal]; cameraRig: #cameraRig; teleportOrigin: #head; landingMaxAngle: 360; hitCylinderColor: #ff9f2b; curveHitColor: #FAFAFA; hitCylinderHeight: 0.05; checkCollisionChildren: false; hitEntityAlignNormal: false; maxLength: 15"
                     teleport-listener
            ></a-mixin>
        </a-assets>

        <a-sky id="pyramid" radius="10" src="#pyramid-img"></a-sky>

        <a-entity id="cameraRig">
            <a-entity id="head" position="0 1.6 0" camera look-controls="pointerLockEnabled:true">
                <!-- Control for Web and Mobile -->
                <a-entity id="no-hand" position="0.1 -0.1 0" teleport-extras mixin="hand"
                          teleport-controls="startEvents: startteleport; endEvents: endteleport; curveShootingSpeed:15"></a-entity>
                <a-entity id="teleportFader" geometry="primitive: box" material="color: #111; shader: flat; side: back" visible="false"></a-entity>
            </a-entity>

            <!-- SECOND HAND: Primary hand. -->
            <a-entity id="left-hand" mixin="hand" teleport-controls="startEvents: trackpaddown, triggerdown; endEvents: trackpadup, triggerup"
                      vive-controls="hand: left" oculus-touch-controls="hand: left" microsoft-motion-controls="hand: left"
                      daydream-controls="hand: left" visible="false">
            </a-entity>

            <!-- RIGHT HAND: Primary hand. -->
            <a-entity id="right-hand" mixin="hand"
                      vive-controls="hand: right" microsoft-motion-controls="hand: right" oculus-touch-controls="hand: right"
                      daydream-controls="hand: right" visible="false">
            </a-entity>
        </a-entity>

        <!-- Portals -->
        <a-link
            portal
            class="portal"
            href="/index.html"
            title="INICIO"
            image="#pyramid"
            position="-4 0.5 -6"
            rotation="0 20 0"
        ></a-link>
    </a-scene>
</body>
</html>
