{{> hbs/templates/default }}

<div class="intro-ct">
    <div class="intro-overlay"></div>
    <div class="intro-wrapper">
        <button id="intro-button" class="action-button shadow animate red">ENTRAR</button>
    </div>

</div>
